<div class="container">
<h2><%= @task.title %></h2>

<p><%= @task.details  %></p>

<%= check_box_tag 'completed', @task.completed ? true : false, @task.completed %>
<p><% if @task.completed %>This task is completed.</p>
<% else %>
<p>This task is not completed yet.</p>
<% end %>

<%= link_to 'Edit task', edit_task_path, :class => "btn btn-primary" %>

<%= link_to 'Back to list', tasks_path, :class => "btn btn-primary" %>
</div>
